    <header class="header">
    <div class="header-container">

        <a href="/homepage.html" class="logo">
            TechNova Store
        </a>

        <form class="search">
            <input type="text" placeholder="O que você está procurando?">
            <button type="submit">🔍</button>
        </form>

        <nav class="categories">
            <a href="#">Smartphones</a>
            <a href="#">Smart Home</a>
            <a href="#">Periféricos</a>
            <a href="#">Informática</a>
            <a href="#">Acessórios</a>
        </nav>

        <div class="header-actions">

            <a href="#" class="account">
                👤
                <span>Minha Conta</span>
            </a>

            <a href="#" class="cart">
                🛒
                <span>Carrinho</span>
                <span id="cart-count">0</span>
            </a>

        </div>

    </div>
</header>